@use '../mixin' as m;

footer {
  margin-top: 5vh;
  padding: 30px 0;
  background: rgba(#000, 0.4);
  div.center {
    width: min(90%, 1000px);
    margin: 0 auto;
    font-size: 0.8em;
    @media #{m.$min-lg} {
      display: flex;
      align-items: center;
      justify-content: center;
      h6 {
        margin-right: 20px;
      }
    }
    @media #{m.$max-lg} {
      text-align: center;
      h6 {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    h6 {
      width: 50px;
      img {
        width: 100%;
      }
    }
    .info a {
      color: var(--green);
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    .copy {
      margin-top: 5px;
      text-transform: uppercase;
      i {
        display: inline-block;
      }
    }
  }
}
