@use '../mixin' as m;

.video-modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  img.youtube-ratio {
    opacity: 0;
    max-width: 90%;
    max-height: 90%;
    @include m.pos-center;
  }
  iframe {
    @include m.pos-center;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2em;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
