@use '../mixin' as m;

.home-visual {
  height: min(70vh, 450px);
  background: var(--navy);

  div.swiper-wrapper {
    height: 100%;
    figure.swiper-slide {
      height: 100%;
      box-sizing: border-box;
      border: 1px solid white;
    }
  }
}
